@import '../../../styles/common';

.password-complexity{
  display: flex;
  gap: 8px;
  height: 24px;
  align-items: center;
  &__text{
   font-size: $fontSizeS;
  }
  &__progressbar{
    height: 22px;
    width: 22px;
  }
}