$fontSizeS: 12px;
$fontSizeM: 16px;
$fontSizeL: 21px;

@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Regular.woff2") format("woff2"),
  url("./fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Open Sans Italic";
  src: url("fonts/OpenSans-Italic.woff2") format("woff2"),
  url("./fonts/OpenSans-Italic.woff") format("woff");
}

@font-face {
  font-family: "Open Sans Bold";
  src: url("fonts/OpenSans-Bold.woff2") format("woff2"),
  url("./fonts/OpenSans-Bold.woff") format("woff");
}

