@import './../../styles/common';

.form__pass-label-wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  .eye {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin-bottom: 4px;
  }
  .eye-open{
    fill: $green_text;
  }
  .eye-hide{
    fill: $grey;
  }
}

.form__pass-input-wrapper {
  position: relative;
  .form__pass-complexity {
    position: absolute;
    right: 9px;
    top: 0;
    height: 45px;
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: right;
  }
}


